* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-family: "Open Sans";
}
body {
    background: #FFFFFF;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
button {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    padding: 12.5px 25px;
    background: #3B8686;
    transition: 0.2s;
}
button:hover {
    scale: 110%;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
/* HEADER */
header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 12.5vh;
    background: #3B8686;
    padding: 0 7.5%;
    display: flex;
    align-items: center;
    box-shadow: 15px 0 15px rgba(0,0,0,0.75);
}
header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1 {
    margin-bottom: -10px;
}

header nav h1 a::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: 0.3s;
}
header nav h1 a:hover::after {
    width: 100%;
}
header nav ul {
    align-items: center;
    display: flex;
}
header nav ul li {
    margin: 0 -5px;
}
header nav ul .espaco {
    margin: 0 5vw;
}
header nav ul a {
    margin: 0 5px;
    transition: 0.1s;
}
header nav ul .atual {
    margin: 0 -15px;
    padding: 5px 20px;
    border-radius: 11px;
    background: rgba(196, 196, 196, 0.20);
    border-radius: 25px;
}
header nav ul a:hover {
    margin: 0 -15px;
    padding: 5px 20px;
    border-radius: 11px;
    background: rgba(196, 196, 196, 0.20);
    border-radius: 25px;
}

/* MAIN */
main {
    margin-top: 12.5vh;
}
.topo {
    height: 87.5vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(121, 189, 154, 0.20), rgba(121, 189, 154, 0.20)), url(scr/images/back-banner.png) no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.topo h2 {
    padding: 15px;
    margin: -5px 0 -5px 7.5%;
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
}
.topo h2:last-child {
    margin-bottom: 10vh;
}
.topo h2 span {
    padding: 10px 15px;
    background: rgba(59, 134, 134, 0.50);
}
.containers {
    margin: 7vw 0;
    display: flex;
    justify-content: center;
}
.containers div {
    margin: 0 3%;
    text-align: center;
}
.containers div span {
    color: #3B8686;
    font-size: 64px;
}
.containers div h3 {
    font-size: 26px;
    font-weight: 600;
    color: #2D2D2D;
    margin-top: 2vw;
}
.containers div p {
    font-size: 14px;
    margin: 1.5vw;
    color: #747474;
    line-height: 1.3rem;
}
.estatistica {
    background: linear-gradient(90deg, rgba(121, 189, 154, 0.50), rgba(121, 189, 154, 0.50) ), url(scr/images/back-numeros.png) no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vw 0;
}
.estatistica {
    text-align: center;
}
.estatistica div {
    transition: 0.3s;
}
.estatistica div:hover {
    scale: 125%;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5))
}
.estatistica span {
    color: #FFFFFF;
    font-size: 64px;
}
.estatistica p {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
}
.possibilidades {
    margin: 7vw 7.5%;
    display: flex;
    justify-content: space-between;
}
.possibilidades div h2 {
    font-size: 36px;
    font-weight: 400;
    color: #0B486B;
    margin-bottom: 2vw;
}
.possibilidades div p {
    color: #747474;
    font-size: 14px;
    margin-bottom: 1vw;
}
.possibilidades div button {
    background: #0B486B;
}
.possibilidades div button:last-child {
    margin-left: 20px;
}
/* FOOTER */
footer {
    background: #3B8686;
    padding: 3vw 7.5%;
}
footer nav {
    display: flex;
    justify-content: space-between;
}
footer nav ul li {
    color: #FFFFFF;
    margin: 15px 0;
}
footer nav .quebrada {
    display: flex;
}
footer nav .quebrada li {
    font-size: 35px;
    margin: 10px;
}
footer nav .quebrada li:first-child {
    margin-left: 0;
}